body{
    background-color: #f4f4f4;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;

}
 /* contenido header */
.logo__container{
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 4rem;
}
.logo__title{
    font-size: 24px;
    font-weight: 700px;
}

.logo__image{
    width: 55px;
    height: 55px;
    border-radius: 10px;
    margin-right: 1rem;
}
/* main */
.main{
    padding-left: 4rem;
    padding-right: 4rem;
}
    /* contenido novedades */
.novedades__title{
    font-size: 28px;
    font-weight: 700;
}
    
.novedades__container{
    display:grid;
    grid-template-columns: 60% 40%;
    gap: 2rem;
    margin: 0 auto;
    max-width: 1200px;
}
        /* novedades enfasis */
.card__logo-enfasis{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.card__date-enfasis{
    font-size: 18px;
    font-weight: 400px;
    padding: 0rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.card__title-enfasis{
    font-size: 24px;
    padding: 0rem;
    margin: 0rem;
}
.card__autor-enfasis{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 0.5rem;
}
.autor__image-enfasis{
    width: 60px;
    height: 60px;
    border-radius: 77px;
    margin-right: 1rem;
}
.autor__name-enfasis{
    font-size: 24px;
    font-weight: 500px;
}

.novedades__card{
    display: flex;
    justify-content: start;
    padding-bottom: 1rem;
}
.card__content{
    padding-left: 1rem;
    margin: 0;
}
.card__image{
    width: 50%;
    height: auto;
    border-radius: 10px;
}
.card__title{
    font-size: 20px;
    font-weight: 700px;
    margin: 0;
}
.card__date{
    font-size: 20px;
    margin: 0;
}
.autor__name{
    font-size: 16px;
    font-weight: 500px;
    padding-left: 0.5rem;
    margin:0;
}
.autor__image{
    height: 40px;
    width: 40px;
    border-radius: 77px;
}
.footer{
    display: flex;
    justify-content: space-between;
}
.footer__text{
    padding-right: 4rem;;
}